

<div class="main-banner" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="owl-carousel owl-banner">
                <div class="item header-text">
                  <h6>Bienvenue dans notre site officiel</h6>
                  <h2>Profiter<em> de l'hebergement</em> <span> </span> ou<span> la restauration</span>?</h2>
                  <p>Notre site d'hébergement et de restauration scolaire est un outil précieux pour les établissements éducatifs et les parents d'élèves.</p>
                  <div class="down-buttons">
                    <div class="main-blue-button-hover">
                      <a href="#contact">Envoyer un message</a>
                    </div>
                    <div class="call-button">
                      <a href="#"><i class="fa fa-phone"></i> +21624885398</a>
                    </div>
                  </div>
                </div>
                <div class="item header-text">
                  <h6>Hebergement</h6>
                  <h2>Réserver <em>une chambre</em> pour <span>votre fils</span>?</h2>
                  <p> Notre site est un processus simple et sécurisé qui vous offre la tranquillité d'esprit grâce à notre interface conviviale, vous pouvez parcourir nos différentes options d'hébergement et choisir la chambre qui correspond le mieux aux besoins de votre fils,</p>
                  <div class="down-buttons">
                    <div class="main-blue-button-hover">
                      <a href="#services">Notre Foyer</a>
                    </div>
                    <div class="call-button">
                      <a href="#"><i class="fa fa-phone"></i> +21624885398</a>
                    </div>
                  </div>
                </div>
                <div class="item header-text">
                  <h6>Restauration</h6>
                  <h2>Réserver <em>une place</em> dans la <span>cantine scolaire</span>?</h2>
                  <p>Réserver une place dans la cantine scolaire pour votre fils est un processus facile et pratique grâce à notre plateforme en ligne. Nous comprenons l'importance d'une alimentation équilibrée pour la santé et le bien-être de votre enfant pendant ses heures d'étude</p>
                  <div class="down-buttons">
                    <div class="main-blue-button-hover">
                      <a routerLink="">Notre restaurant</a>
                    </div>
                    <div class="call-button">
                      <a routerLink=""><i class="fa fa-phone"></i>+21624885398</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
