

  
<!-- ***** Preloader Start ***** -->
<!-- <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div> -->
  <!-- ***** Preloader End ***** -->
  
  
  <app-header></app-header>
  <!-- ***** Header Area End ***** -->
  <app-main-banner></app-main-banner>
  <app-services></app-services>
  <app-about></app-about>
  <app-portfolio></app-portfolio>
  <app-pricing></app-pricing>
 <!--<app-subscribe></app-subscribe>--> 
  <app-video></app-video>
  <app-contact></app-contact>
  <app-feedbck></app-feedbck>
  <app-footer-p></app-footer-p>
  <router-outlet></router-outlet>
