<div id="about" class="about-us section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 align-self-center">
        <div class="left-image">
          <img src="assets/assets/images/about-left-image.png" alt="Two Girls working together">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="section-heading">
          <h2><em>Qui sommes nous?</em> et  <span>Quelles sont les statistiques d'engagement du site web ?</span></h2>
          <p>Nous sommes fiers de vous offrir une expérience unique en matière d'hébergement et de restauration scolaire. Notre mission est de créer un environnement chaleureux et sécuritaire où les élèves peuvent s'épanouir tant sur le plan académique que personnel.</p>
          <div class="container-frame">
            <div class="row">
              <div class="col-lg-4 fact-item-container">
                <div class="fact-item">
                  <div class="count-area-content">
                    <div class="icon">
                      <img src="assets/assets/images/dar.png" alt="">
                    </div>
                    <div class="count-digit">{{this.NumberOfHebergement}}</div>
                    <div class="count-title">Demandes hébergements</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 fact-item-container">
                <div class="fact-item">
                  <div class="count-area-content">
                    <div class="icon">
                      <img src="assets/assets/images/fod.png" alt="">
                    </div>
                    <div class="count-digit">{{this.NumberOfRestauration}}</div>
                    <div class="count-title">Demandes restaurations</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 fact-item-container">
                <div class="fact-item">
                  <div class="count-area-content">
                    <div class="icon">
                      <img src="assets/assets/images/service-icon-04.png" alt="">
                    </div>
                    <div class="count-digit">{{this.numberOfParents}}</div>
                    <div class="count-title">Parents</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 fact-item-container">
                <div class="fact-item">
                  <div class="count-area-content">
                    <div class="icon">
                      <img src="assets/assets/images/elv.png" alt="">
                    </div>
                    <div class="count-digit">{{ this.NumberOfEleve }}</div>
                    <div class="count-title">Élèves</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 fact-item-container">
                <div class="fact-item">
                  <div class="count-area-content">
                    <div class="icon">
                      <img src="assets/assets/images/cree.png" alt="">
                    </div>
                    <div class="count-digit">{{ this.NumberOfCre }}</div>
                    <div class="count-title">CRE</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 fact-item-container">
                <div class="fact-item">
                  <div class="count-area-content">
                    <div class="icon">
                      <img src="assets/assets/images/feda.png" alt="">
                    </div>
                    <div class="count-digit">{{ this.NumberOfFeedback }}</div>
                    <div class="count-title">Feedback</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
