<div id="pricing" class="pricing-tables" >
    <div class="tables-left-dec">
      <img src="assets/assets/images/tables-left-dec.png" alt="">
    </div>
    <div class="tables-right-dec">
      <img src="assets/assets/images/tables-right-dec.png" alt="">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h2><em>Réglements générales</em> pour que l'élève <span>rejoint notre foyer</span></h2>
           
          </div>
        </div>
      </div>
      <section class="jolie-section">L’internat du lycée est une structure d’accueil localisé à Tunis El Manar réservée à des élèves  qui, en raison du choix de leur formation ou de l’éloignement du domicile familial ou encore d’impératifs éducatifs, sont amenés à solliciter ce type d’hébergement. Ce sont sur ces principes que sont prononcées les admissions à l’internat.
    L’hébergement en internat est pour ces élèves un service rendu : il n’est ni un droit, ni une obligation. L’internat est un lieu de vie où chaque élève quel que soit son établissement d’origine doit pouvoir s’y épanouir, dans l’apprentissage de la vie en collectivité qui nécessite de la part des élèves, individuellement et collectivement, une bonne maîtrise de leur comportement et une aptitude certaine à l’autonomie.
    Les grands principes qui régissent le service public d’éducation ainsi que les droits et obligations des élèves et des étudiants dans les E.P.L.E. s’appliquent aux internats. Pour avoir connaissance de ces principes, de ces droits et de ces obligations, les élèves et étudiants internes se réfèreront au règlement intérieur de l’établissement dans lequel ils sont scolarisés.</section>
    <section class="jolie-section">Les étudiants acceptés seront notifiés le vendredi 1 septembre 2023 et doivent compléter leurs dossiers à remettre au service scolarité le 01, 02 et 04 septembre 2023 durant l’horaire administratif, doivent comporter:
<ul>
       <li><strong> -Une demande d’hébergement (  à imprimer depuis le site)</strong></li>
       <li><strong> -L’original du certificat de résidence du père ou de la mère ou du tuteur légalité</strong>   </li>
        <li><strong>-Un document de localisation du lieu de résidence indiquant la distance (Google Maps)</strong>  </li>
            <li> <strong>  -Un reçu de paiement (à imprimer depuis le site)</strong></li>
    </ul> </section>
    <section class="jolie-section">  on dispose de deux types de chambres qui sont accordés selon la disponibilité :</section>
    <div class="row">
      <div class="col-lg-4">
        <div class="item first-item">
          <h4>Trimestre</h4>
          <em>220 DT/ans</em>
          <span>200 DT/ans</span>
          <ul>
            <li>Description:</li>
            <li>Optez pour une solution d'hébergement trimestrielle et profitez d'un environnement sécurisé et confortable pour vos études. Notre offre de logement pour le trimestre vous permet de vous concentrer pleinement sur vos objectifs académiques en offrant un lieu propice à l'apprentissage et à la détente.</li>
          </ul>
          <div class="main-blue-button-hover align-button">
            <a [routerLink]="['/form1']" [queryParams]="{ datedebut: '04 septembre 2024', datefin: '23 décembre 2024' }">Demander maintenant</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="item second-item">
          <h4>Semestre</h4>
          <em>450 DT/ans</em>
          <span>400 DT/ans</span>
          <ul>
            <li>Description:</li>
            <li>Choisissez notre option d'hébergement pour le semestre et bénéficiez d'un cadre de vie adapté à vos besoins pendant une période plus prolongée. Notre logement en semestre vous offre la possibilité de vous immerger pleinement dans votre expérience d'apprentissage, avec des installations modernes et une communauté étudiante dynamique.</li>
          </ul>
          <div class="main-blue-button-hover align-button">
            <a [routerLink]="['/form1']" [queryParams]="{ datedebut: '04 septembre 2024', datefin: '20 avil 2025' }">Demander maintenant</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="item third-item">
          <h4>Année</h4>
          <em>800 DT/ans</em>
          <span>700 DT/ans</span>
          <ul>
            <li>Description:</li>
            <li>Pour une solution d'hébergement à long terme, notre option annuelle vous assure un foyer confortable tout au long de l'année scolaire. Profitez d'un environnement sécurisé et favorable à la réussite académique, avec des services et des équipements qui répondent à vos besoins tout au long de votre parcours éducatif.</li>
          </ul>
          <div class="main-blue-button-hover align-button">
            <a [routerLink]="['/form1']" [queryParams]="{ datedebut: '04 septembre 2024', datefin: '06 mai 2025' }">Demander maintenant</a>
          </div>
        </div>
      </div>
    </div>
    