


<section style="background-color: #eee; margin-top: 100px; margin-bottom: 50px;">
    <div class="container py-5 border border-dark rounded"> <!-- Ajout des classes border et rounded -->
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4 d-flex justify-content-between align-items-center">
                    <h2 class="mb-0">Bienvenue cher parent dans votre espace !</h2>
                    <div class="d-flex">
                        <button class="btn btn-primary btn-rounded "[routerLink]="['/formulaire-h']">Demander hébergement</button>
                        <button class="btn btn-info btn-rounded" [routerLink]="['/formulaire-r']">Demander restauration</button>
                        <button class="btn btn-light btn-rounded" [routerLink]="['/reclamation']">Envoyer réclamation</button>
                    </div>
                </nav>
            </div>
        </div>
    
                  <!-- message de succéé ajout-->
                  <div *ngIf="ajoutReussi" class="alert alert-success" role="alert">
                    L'élève a été ajouté avec succès !
                  </div>
                  <div *ngIf="!ajoutReussi && ajoutEleveForm.submitted" class="alert alert-danger" role="alert">
                    Échec de l'ajout de l'élève. Veuillez réessayer.
                  </div>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="card mb-4">
                        <div class="card-body text-center">
                          <ng-container *ngIf="parentInfo">
                            <!-- Vérifie si photoPath est défini -->
                            <img *ngIf="parentInfo.photoPath" src="assets/assets/images/{{ parentInfo.photoPath }}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                            <!-- Si photoPath est null, utilise un chemin par défaut -->
                            <img *ngIf="!parentInfo.photoPath" src="assets/assets/images/pdp.jpg" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                            <h3 class="my-3">
                              <span class="bold-text" style="margin-right: 10px;">{{ parentInfo.prenom }}</span>
                              <span class="bold-text">{{ parentInfo.nom }}</span>
                            </h3>
                          </ng-container>
                            
                            
                          <div class="container">
                            <div class="row">
                              <div class="col-md-12">
                          <p><strong>CIN :</strong></p> <p class="text-muted mb-4">  {{parentInfo?.cin}} </p>
                          <p><strong>Profession :</strong></p> <p class="text-muted mb-1">   {{parentInfo?.profession}}</p>
                          <p><strong>Adresse :</strong></p> <p class="text-muted mb-1">   {{parentInfo?.adresse}}</p>
                          <p><strong>Téléphone :</strong></p><p class="text-muted mb-1">   {{parentInfo?.telephone}}</p>
                              </div>
                            </div>
                          </div>
                          <div class="d-flex justify-content-center mb-2">
                            <button type="button" class="btn btn-primary">Editer</button>
                         
                          </div>
                        </div>
                      </div>

          
          <div class="card mb-4 mb-lg-0">
            <div class="card-body p-0">
              <ul class="list-group list-group-flush rounded-3">
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fas fa-globe fa-lg text-warning"></i>
                  <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalR" disabled>Messages et Notifications </button>

                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                  <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalH" disabled>Informations d'hébergement</button>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                  <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalR" disabled>Informations de restauration </button>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                  <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalR" disabled>Paiement et Facturation</button>

                </li>
               
              </ul>
            </div>
          </div>
        </div>
        
    
        <div class="col-lg-8">
          <div class="card mb-4 custom-scrollbar">
            <div class="card-body">
              <h3 class="card-title mb-4 text-center title-with-image">
                <strong class="title-text"  style="display: inline-block;">Enregistrement</strong>
        
                <!-- Boutons d'action avec images -->
                <button mat-button type="button" matTooltip="Ajouter" [matTooltipPosition]="'above'"
                        class="mat-button mat-primary btn-with-image" style="margin-right: 10px;" [disabled]="!ajoutEleveForm.valid" (click)="addEleve()">
                  <img src="assets/assets/images/aj.png" alt="Ajouter" class="img-fluid">
                </button>
        
                <button mat-button type="button" matTooltip="Retour" [matTooltipPosition]="'above'"
                        class="mat-button mat-primary btn-with-image" (click)="navigateToParent()">
                  <img src="assets/assets/images/retour.png" alt="Retour" class="img-fluid">
                </button>
              </h3>
        
              <form #ajoutEleveForm="ngForm" (ngSubmit)="addEleve(); ajoutEleveForm.resetForm()" novalidate>
                <!-- Champs de formulaire -->
                <div class="row mb-3">
                  <div class="col-sm-6">
                    <label for="nom" class="form-label">Nom :</label>
                    <input id="nom" class="form-control" type="text" [(ngModel)]="nom" name="nom" required #nomInput="ngModel">
                    <div *ngIf="nomInput.invalid && (nomInput.dirty || nomInput.touched)" class="text-danger small">
                      <div *ngIf="nomInput.errors.required">Nom requis.</div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="prenom" class="form-label">Prénom :</label>
                    <input id="prenom" class="form-control" type="text" [(ngModel)]="prenom" name="prenom" required #prenomInput="ngModel">
                    <div *ngIf="prenomInput.invalid && (prenomInput.dirty || prenomInput.touched)" class="text-danger small">
                      <div *ngIf="prenomInput.errors.required">Prénom requis.</div>
                    </div>
                  </div>
                </div>
               
        
             
<div class="row mb-3">
  <div class="col-sm-3">
    <label for="ecole" class="form-label">École :</label>
  </div>
  <div class="col-sm-9">
    <input id="ecole" class="form-control" type="text" [(ngModel)]="ecole" name="ecole" required #ecoleInput="ngModel">
    <div *ngIf="ecoleInput.invalid && (ecoleInput.dirty || ecoleInput.touched)" class="text-danger small">
      <div *ngIf="ecoleInput.errors.required">École requis.</div>
    </div>
  </div>
</div>


<div class="row mb-3">
  <div class="col-sm-3">
    <label for="niveauScolaire" class="form-label">Niveau scolaire :</label>
  </div>
  <div class="col-sm-9">
    <input id="niveauScolaire" class="form-control" type="text" [(ngModel)]="niveau" name="niveauScolaire" required #niveauInput="ngModel">
    <div *ngIf="niveauInput.invalid && (niveauInput.dirty || niveauInput.touched)" class="text-danger small">
      <div *ngIf="niveauInput.errors.required">Niveau scolaire requis.</div>
    </div>
  </div>
</div>


<!-- Champ de formulaire pour Sexe avec deux boutons radio -->
<div class="row mb-3">
  <div class="col-sm-3">
    <label for="sexe" class="form-label">Sexe :</label>
  </div>
  <div class="col-sm-9 d-flex align-items-center"> 
    
    <div class="flex align-items-center mr-3"> 
      <p-radioButton name="gender" value="Homme" [(ngModel)]="sexe" inputId="maleRadio" required></p-radioButton>
      <label for="maleRadio" class="ml-2">Homme</label>
    </div>
    
  
    <div class="flex align-items-center">
      <p-radioButton name="gender" value="Femme" [(ngModel)]="sexe" inputId="femaleRadio " required></p-radioButton>
      <label for="femaleRadio" class="ml-2">Femme</label>
    </div>
  </div>
</div>



<div class="row mb-3">
  <div class="col-sm-3">
    <label for="dateNaissance" class="form-label">Date de naissance :</label>
  </div>
  <div class="col-sm-4">
    <p-calendar
      inputId="birth_date"
      [(ngModel)]="datenaissance"
      
      name="dateNaissance"
      [showIcon]="true"
      
      [dateFormat]="'dd.mm.yy'"
      required
     
    ></p-calendar>
  </div>
</div>

<!-- Champ de formulaire pour Adresse -->
<div class="row mb-3">
  <div class="col-sm-3">
    <label for="address" class="form-label">Adresse :</label>
  </div>
  <div class="col-sm-9">
    <input id="address" class="form-control" type="text" [(ngModel)]="adresse" name="address" required #adresseInput="ngModel">
    <div *ngIf="adresseInput.invalid && (adresseInput.dirty || adresseInput.touched)" class="text-danger small">
      <div *ngIf="adresseInput.errors.required">Adresse requise.</div>
    </div>
  </div>
</div>

               
              </form>
       
            </div>
          </div>
        </div>
        
     
        
      </div>
     
      </div>
      
   
  

     
      <div class="row">
        <div class="col-lg-4 offset-lg-5"> 
            <div id="carouselExampleCaptions" class="carousel slide carousel-custom" data-bs-ride="carousel" style="margin-top: -35rem;">
                <div class="carousel-indicators">
                    <button *ngFor="let image of images; let i = index" type="button" data-bs-target="#carouselExampleCaptions" [attr.data-bs-slide-to]="i" [class.active]="i === 0" aria-current="true" aria-label="Slide {{ i + 1 }}"></button>
                </div>
                <div class="carousel-inner">
                    <div *ngFor="let image of images; let i = index" class="carousel-item" [class.active]="i === 0">
                        <img [src]="image.itemImageSrc" class="d-block w-100 mx-auto" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <div class="image-overlay"></div>
                            <h5 style="color: rgb(0, 213, 255);"><strong>{{ image.title }}</strong></h5>
                            <button (click)="showDescription = !showDescription" class="btn btn-light">Savoir plus</button>
                            <p *ngIf="showDescription">{{ image.description }}</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    
</section>
